@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
	padding: 60px 0px;
	background-color: rgb(220, 220, 220);
}

.flag{
    width: 50px;
}

h2{
    font-size: 150%;
    margin-top: 0px;
    font-weight: bold;
}

.event-list .info .row{
    padding-left: 10px;
    font-size: 80%;
}

.event-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.event-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li > time > .day {
	display: block;
	font-size: 45pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li time > .month {
	display: block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
}
.event-list > li > img {
	width: 100%;
}
.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
.event-list > li > .social > ul {
	margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}
.twitter a {
	color: rgb(79, 213, 248) !important;
}
.google-plus a {
	color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(221, 75, 57) !important;
}
.event-list > li .links {
    background-color: rgb(150,150,150,0.1);
}
.event-list > li .links a {
	display: block;
	color: dimgray;
}
.event-list > li .category {
	background-color: #ccc;
    padding: 0 10px;
    color: white;
}
#category-list a span{
	color: white;
}
.show{
	display: block!important;
}

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 120px;
		padding: 0px;
	}
	.event-list > li > time,
	.event-list > li > img  {
		display: flex;
	    align-items: center;
	    flex-flow: column;
	    justify-content: center;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 120px;
		text-align: left;
	}	
	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	}
	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.event-list > li > .social {
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 40px;
	}
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
	.event-list > li > .social > ul > li {			
		display: block;
        padding: 0px;
	}
	.event-list > li > .social > ul > li > a {
		display: block;
		width: 40px;
		padding: 10px 0px 9px;
	}
	.event-list > li .category {
		position: absolute;
    	right: 0;
	}
	.event-list > li .links {
	    text-align: center;
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	}
	.event-list > li .links:hover {
	    background-color: rgb(150,150,150,0.2);
	}
}